{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
        <h2>Your Profile details</h2><a href="{% url 'profileupdate' %}" class="btn btn-solid-border">profile update</a>
        <img src="{{user.profile.image.url}}" alt="">
        <p><b>name :</b>{{user.first_name}}</p>
        <p><b>user name :</b>{{user.username}}</p>
        <p><b>Email :</b>{{user.email}}</p>
        <p><b>Phone :</b>{{user.profile.phone}}</p>
        <p><b>Birth date :</b>{{user.profile.date_of_birth}}</p>


    </div>
</div>


{% endblock body %}